
@font-face{
    font-family: twilight;
    src: url(../fonts/twilight-new-moon.ttf);
       
      }
*{
    padding: 0;
    margin: 0;
    border: 20;
    box-sizing: border-box;  
}

body{
width: 100vw;
height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #7c2e00;
  font-family: twilight;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width:30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;

}
/* mouse over link */
a:hover {
  color: blue;
}
 /* selected link */
a:active {
  color: silver;
}
     
header{
    width: 100%;
    height:100%;
    background-image: url("../img/backgroundRed.jpg");
    background-position: cover;
    background-position: center;
    background-size: cover;
    display: grid;

}

.logo{
    color: blanchedalmond;;
     align-self: center;
    justify-self: center;
    font-family: twilight;
    position: relative;
    bottom: 100px;
    size: 400px;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 6%; /* IE10 */
  flex: 6%;
  max-width: 60%;
  padding: 0 4px;
  background-color: black;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .nav-links{
    width:60%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .nav-links{
    width: 90%;
  }

}

*{
  margin: 0;
  padding: 0;
  font-family: twilight;
  
  
}
.me-section{
  overflow: hidden;
  text-align: center;
   background-image: url("../img/backgroundLightBlue.jpg");
    background-position: cover;
    background-position: center;
    background-size: cover;
  padding: 40px;
  

}
.me-section{
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 20px;
}
.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 2px;
  background: #7c2e00;
  margin-bottom: 40px;
}
.ps{
  margin-bottom: 40px;

}
.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%; 
}

.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
 }

 .ps a:hover > img{
   filter: none;
 }

 .section{
   width: 600px;
   margin: auto;
   font-size: 20px;
   color: black;
   text-align: justify;
   height: 0;
   overflow: hidden;
   pointer-events: none;
   position: relative;
   bottom: 20px;
  }
  
  
 .section:target{
   height: auto;


 }
 .name{
   display: block;
   margin-bottom: 10px;
   text-align: center;
   text-transform: uppercase;
   font-size: 22px;
   pointer-events: none;
   }


   a:link {
    text-decoration: none;
      
  }
  
  a:visited {
    text-decoration: none;
  }

 *{
  margin: 0;
  padding: 0;
  font-family: twilight;
    }
  
  .contactSection{
    background-image: url(../img/backgroundRed.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
  }
  .contactSection h1{
    text-align: center;
    color:white;
  
  }
  .border{
    width: 100px;
    height: 10px;
    background: #7c2e00;
    margin: 40px auto;
  
  }
  
  .contactForm{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    }
  
    .contactFormtext{
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 16px 0;
      border: 0;
      background: #111;
      padding: 20px 40px;
      outline: none;
      color:white;
      transition: 0.5s;
    }
    .contactFormtext:focus{
      box-shadow: 0 0 10px 4px grey;
    }
    
    .contactFormtext{
      resize: none;
      height: 120px;
  }
  .contactFormbtn{
    float: right;
    border: 0;
    background:grey ;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  
  }
  .contactFormbtn:hover{
    background:#7c2e00;
  }
  

.contactSection{
  background-image: url(../img/backgroundRed.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.contactSection h1{
  text-align: center;
  color:white;

}
.border{
  width: 100px;
  height: 10px;
  background: #7c2e00;
  margin: 40px auto;

}

.contactForm{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  }

  .contactFormtext{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color:white;
    transition: 0.5s;
  }
  .contactFormtext:focus{
    box-shadow: 0 0 10px 4px grey;
  }
  
  .contactFormtext{
    resize: none;
    height: 120px;
}
.contactFormbtn{
  float: right;
  border: 0;
  background:grey ;
  color: black;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.contactFormbtn:hover{
  background:#7c2e00;
}

.container{
  margin: auto;
  display: inline;
 position: absolute;
 bottom: 266px;
 left: 725px;
}


